.home-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #DAE0E6;
    width: 100%;
    padding: 24px;
}

.individual-post-container {
    width: 640px;
    height: fit-content;
    /* border: 1px red solid; */
}

#individual-post {
    display: flex;
    border: 1px #DAE0E6 solid;
    width: 640px;
    height: fit-content;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 4px;
}

#post-votes {
    background-color: #dae0e649;
    width: 40px;
}

#post-header {
    display: flex;
    margin: 0px 8px 8px;
    align-items: center;
    padding-top: 8px;
}

#post-community-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 4px
}

#post-community-name {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #1c1c1c;
}

#post-community-name:hover {
    text-decoration: underline;
}

#post-dot {
    font-size: 12px;
    margin: 0px 4px;
}

#post-username {
    font-size: 12px;
    font-weight: 400;
    color: #787c7e;
}

#home-page-post-title {
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    margin: 0px 8px;
    color: #222222;
}

#home-page-description {
    font-size: 14px;
    color: #1c1c1c;
    margin: 8px 8px 0px;
}

.post-buttons {
    padding-left: 4px;
    padding-right: 8px;
    display: flex;
    height: 36px;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: #878A8C;
}

#post-comments-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    padding: 8px;
    margin-right: 4px;
}

#post-comments-button:hover {
    background-color: #878a8c41;
}

#edit-post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #878A8C;
    height: 36px;
    width: 70px;
    margin-right: 4px;
}

#edit-post-button:hover {
    background-color: #878a8c41;
}

#delete-post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 80px;
}

#delete-post-button:hover {
    cursor: pointer;
    background-color: #878a8c41;
}

.homepage-community-buttons {
    margin-left: 24px;
    position: sticky;
    height: fit-content;
    top: 75px;
}

.homepage-communities-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 310px;
    border: 1px rgb(204, 204, 204) solid;
    border-radius: 4px;
    background-color: white;
}

.some-communities-background {
    display: flex;
    align-items: flex-end;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 310px;
    height: 80px;
    background-size: cover;
    background-image: url("../../../assets/viewcommunities.png");
}

.some-communities-text {
    display: flex;
    color: white;
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: "IBM Plex Sans";
}

.communities-holder {
    width: 312px;
}

.newest-communities {
    display: flex;
    align-items: center;
    height: 49px;
    width: 310px;
    text-decoration: none;
    border-bottom: 1px solid #EDEFF1;
}

.communities-bottom-border {
    width: 310px;
}

#newest-communities-link {
    text-decoration: none;
    font-size: 14px;
    color: #1a1a1b;
    font-weight: 500;
}

.newest-community-container {
    display: flex;
    align-items: center;
}

.newest-community-placeholder {
    margin-left: 20px;
    margin-right: 5px;
    font-size: 14px;
    color: #1a1a1b;
    font-weight: 550;
}

#community-dot {
    margin-right: 5px;
}

#newest-community-icon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    padding-right: 8px;
}

#newest-community-name {
    font-size: 14px;
    color: #1a1a1b;
    font-weight: 500;
}

.all-communities-padding {
    padding: 12px;
}

#all-communities {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    background-color: #0079D3;
    height: 32px;
    width: 286px;
    border-radius: 50px;
}

#view-all-communities-button {
    text-decoration: none;
    font-weight: 700;
}

.homepage-create-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    border: 1px rgb(204, 204, 204) solid;
    border-radius: 4px;
    background-color: white;
    margin-top: 16px;
}

.create-community-banner {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 12px;
    height: 34px;
    width: 310px;
    margin-top: -2px;
    background-size: cover;
    background-image: url("../../../assets/createcommunity.png");
}

.create-community-text {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    width: 286px;
    word-wrap: break-word;
    margin-bottom: 16px;
}

#create-community {
    text-decoration: none;
    font-size: 14px;
    color: #0079D3;
    border: 1px solid #0079D3;
    height: 30px;
    width: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
}

#create-community-button {
    text-decoration: none;
    font-weight: 700;
}
