.home-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #DAE0E6;
    width: 100%;
}

.individual-post-container {
    width: 640px;
    height: fit-content;
    /* border: 1px red solid; */
}

#individual-post {
    border: 1px blue dashed;
    width: 640px;
    height: fit-content;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 3px;
}

#post-header {
    display: flex;
    margin: 0px 8px 8px;
    align-items: center;
    padding-top: 8px;
}

#post-community-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 4px
}

#post-community-name {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #1c1c1c;
}

#post-community-name:hover {
    text-decoration: underline;
}

#post-dot {
    font-size: 12px;
    margin: 0px 4px;
}

#post-username {
    font-size: 12px;
    font-weight: 400;
    color: #787c7e;
}

#home-page-post-title {
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    margin: 0px 8px;
    color: #222222;
}

#home-page-description {
    font-size: 14px;
    color: #1c1c1c;
    margin: 8px 8px 0px;
}

.post-buttons {
    padding-left: 4px;
    padding-right: 8px;
    display: flex;
    height: 36px;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: #878A8C;
}

#post-comments-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 8px;
    margin-right: 4px;
}

#post-comments-button:hover {
    background-color: #878a8c41;
}

#edit-post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #878A8C;
    height: 36px;
    width: 70px;
    margin-right: 4px;
}

#edit-post-button:hover {
    background-color: #878a8c41;
}

#delete-post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 80px;
}

#delete-post-button:hover {
    cursor: pointer;
    background-color: #878a8c41;
}
